@property --backpage-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #DDE6ED;
}
@property --bright-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #526D82;
}

@property --highlight-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #27374D;
}

@property --light-font {
    syntax: "<color>";
    inherits: false;
    initial-value: #919191;
}

@property --white-font {
    syntax: "<color>";
    inherits: false;
    initial-value: #ffffff;
}
@property --transparent-gray {
    syntax: "<color>";
    inherits: false;
    initial-value: #27374d15;
}



html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;

    padding: 0;
    background-color: var(--logo-color);
}
body{
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.2fr;
    grid-template-rows: max-content max-content max-content auto ;
    column-gap: 10px;
    grid-template-areas:
    "header header header"
    "main_nav main_nav main_nav"
    "side_nav main ."
    "footer footer footer";
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

header{
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    grid-template-areas:
    "logo . login"
    ". . newOrder";
    column-gap: 10px;
    grid-area: header;
    background-color: var(--bright-color);
    color: var(--white-font);
    font-size: 14pt;
    padding: 20px 40px;
    /* border-bottom: 1px black solid; */
}
.main_nav ul li a {
    display: block;
    width: 100%;
}
h3{
    margin-bottom: 0.5em;
}
.logo{
    grid-area: logo;
    font-weight: bold;
}

.logData{
    grid-area: login;
}

.new_order{
    grid-area: newOrder;
}


.main_nav{
    grid-area: main_nav;
    display: grid;
    grid-template-rows: auto;
    grid-auto-columns: auto;
    background-color: var(--bright-color);
    color: var(--white-font);
    border-top: 1px var(--highlight-color) solid;

    box-shadow: 0 5px 15px -5px #00000075;
}
.main_nav ul{
    display: grid;
    grid-auto-columns: inherit;
    grid-auto-flow: column;
    margin: 0;
}

.main_nav li{
    list-style: none;
    border-right: black 1px solid;
    text-align: center;
    padding: 10px 0;
}
.main_nav li:last-child{
    border-right: none;

}

.side_nav{
    grid-area: side_nav;
}
.side_nav_main_ul{
    margin-top: 1.6em;
    padding-top: 0;
}
.side_nav ul{
    list-style-type: none;
    font-weight: bold;
    font-size: 14pt;
}
.side_nav li{
    border-bottom: 1px black solid;
    padding: 5px;
    font-weight: normal;
    font-size: 12pt;
}

.sec_ul{
    padding-left: 1em;
}

.error{
    color: red;
    font-size: large;
}

main{
    grid-area: main;
    box-shadow: #00000075 0px 15px 15px -10px;
    padding: 0 30px;
}
.mainHeader{
    display: grid;
    grid-template-columns: auto 15em;
    grid-template-rows: auto;
    align-items: baseline;
    padding: 1em 0;
}
 h1 {
    margin: 0;
    padding: 0;
    align-self: center;
}

.addButtonLink{
    height: fit-content;
    justify-self: right;
    align-self: center;
}

button,
input[type=submit]{
    cursor: pointer;
}

.beautyButton{
    border-radius: 0.2em;
    border: 0;
    font-size: 1em;
    padding: 0.5em 1em;  
    max-width: 20em;
    min-width: 8em;
    max-height: 2.5em;
    width: max-content;
}
.addButton{
  background: var(--backpage-color);
}

.danger{
    background-color: maroon;
    color: white;
    font-weight: bold;
}


.submitButton{
    background: var(--bright-color);
    color: white;
}



.filter{
    background: var(--backpage-color);
    border: 0;
    padding: 0.5em 1em;
}
.colspan2{
    column-span: 2;
}

.receiptForm{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(9, max-content);
    row-gap: 0.5em;
}
form{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-flow: row;
    row-gap: 1em;
    column-gap: 1em;
}

.labelLeft{
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: max-content;
    column-gap: 0.2em;
}

form h2{
    grid-column: 1/4;
}

.underline{
    border-bottom: #27374D 1px solid;
}
.receiptData .orderData,
.receiptData .dates
{
    display: none;
}
.start1{
    grid-column-start: 1;
}
.start2{
    grid-column-start: 2;
}
.start3{
    grid-column-start: 3;
}
.start4{
    grid-column-start: 4;
}
.start5{
    grid-column-start: 5;
}
.start6{
        grid-column-start: 6;

}
.end2{
    grid-column-end: 2;
}
.end3{
    grid-column-end: 3;
}
.end4{
    grid-column-end: 4;
}
.end5{
    grid-column-end: 5;
}
.end6{
    grid-column-end: 6;
}
.end7{
    grid-column-end: 7;
}

.rstart9{
    grid-row-start: 9;

}
.rstart2{
    grid-row-start: 2;
}
.rstart3{
    grid-row-start: 3;
}
.rstart5{
    grid-row-start: 5;
}
.rstart10{
    grid-row-start: 10;
}
.rend12{
    grid-row-end: 12;

}

.rstart11{
    grid-row-start: 11;
}
.rstart7{
    grid-row-start: 7;
}

.rGap{
    row-gap: 1em;
}

.hide{
    display: none;
}
.centerButton{
    justify-self: right;
    align-self: center;
}

.left{
    align-self: end;
    justify-self: left;
}
.right{
    float: right;
    justify-self: right;
    justify-content: right;
    justify-items: right;
}
.buttom{
    align-self: end;
    justify-self: right;
}
.center{
        align-self: center;

}

.deleteButton{
    height: 30px;
    width: 40px;
}

.formButton{
    height: 30px;
    min-width: 150px;
} 

form button{
    justify-self: left;
}
form input[type=number]{
    width: max-content;
} 
.bdInfo{
    display: none;
}

.receiptForm input[type=submit]{
    grid-row: 11;
} 
.receiptForm input[type=checkbox]{
    justify-self: left;
} 

table.itemTable{
    width: 100%;
}
.divPayment{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/4;
}
.divPaymentMethod{
    display: none;
}
form table{
    border-collapse: collapse;
}
.selected{
    background-color: #aac9e1;

}
.selected td{
    background-color: #aac9e1;
    border-top: 1px var(--bright-color) solid;
    border-bottom: 1px var(--bright-color) solid;
}

.checkDate{
    width: 12em;
    text-align: center;
}

.checkAmount{
    text-align: end;
    
}
.checkNumber{
    text-align: end;
    width: 60%;
}
td.checkNumber {
    font-size: 0.8em;
}
.divKassa{
    grid-column: 1/3;
    width: 100%;
}
.divKassa table{
    width: 100%;
    border-collapse: collapse;
}

.urgent{
    background-color: #ff000020;
}

.hide{
    display: none;
}

.card{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto 5em;
    grid-auto-flow: column;
    grid-column: 1/3;
    box-shadow: #00000075 0 1px 0 0;
}
.card img{
    width: 2em;
    height: 2em;
    filter: hue-rotate(190deg) brightness(0.8);
       align-items: center;
    align-self: center;
 
}
.card a{
    display: grid;
    align-items: center;
    align-self: center;
    justify-items: center;
    justify-self: center;
    width: 100%;
    height: 100%;
}
.orderDetailLabel{
    grid-column: 1/3;
    grid-row: 2;
}
.orderDetail{
    display: none;
}

.orderDetailLabel.closed .buttonDetail::after
{
    content: "▽";
}

.orderDetailLabel.open .buttonDetail::after{
    content: "△";
}

/* .orderDetailLabel:hover .orderDetail{
    display: block;
} */

.itemInfo{
    display: grid;
    grid-template-rows: repeat(2, max-content);
    grid-template-columns: auto;
    grid-auto-flow: column;
    column-gap: 1em;
    padding: 0 1em 0 1em;
}
.itemInfo.customerInfo{
    display: grid;
    grid-template-columns: 9em 10em 5em;
}
.itemInfo.receiptInfo{
    display: grid;
    grid-template-columns: 2em 9em 9em 14em 7em 7em 4em;
}
.card .orderInfo{
    grid-template-columns: 9em 7em 4em 4em 5em 7em 7em;
}

.workerInfo{
        grid-template-columns: 9em 10em 10em 12em;
}

.info3{
    grid-template-columns: 20em 15em 10em;
}
.info5{
    grid-template-columns: 9em 14em 7em 6em 10em ;
}
.material{
    grid-template-columns: 12em 12em 14em 7em 9em ;
}
.info7{
    grid-template-columns: 12em 7em 7em 6em 6em 7em 7em;
}

.marginTop{
    margin-top: 1em;
}


.col3{
        display: grid;
            grid-template-columns: repeat(3, 1fr) ;

}

.col5{
            display: grid;

        grid-template-columns: repeat(5, 1fr) ;
}
.col2{
        display: grid;
        grid-template-columns: repeat(2, 1fr) ;
}
.info6{
            display: grid;

    grid-template-columns: repeat(6, 1fr) ;
}

.mainBlock{
    display: grid;
    padding: 0 1em;
    grid-template-columns: auto 10em;
    align-items: center;
    border: var(--transparent-gray)  1px solid;
    border-radius: 5px;
}
.logOut{
    background: inherit;
    border: 0;
    color: inherit;
    font: inherit;
    text-align: left;
    padding: 0;
}

.filterTable{
    overflow-y: scroll;
    max-height: 13em;
}
.filterTable table{
    width: 100%;
}

.item{
    box-shadow: 0px 5px 5px -4px var(--transparent-gray);
}
.block{
    display: grid;
    grid-template-columns: 15em 7em 7em 7em 7em 7em;
    margin: 0.3em 0;
    padding: 0.2em;

}


.orderInfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, max-content);
    row-gap: 1em;
}
.orderData{
    display: grid;
    grid-template-rows: repeat(2, max-content);
}

.labelTop{
    display: grid;
    grid-template-rows: repeat(3, max-content);
    grid-auto-flow: column;
}
.tdRight{
    text-align: end;
}
.price{
    display: grid;
    grid-template-rows: repeat(2, max-content);
    grid-template-columns: repeat(2, max-content);
}
.price label{
    grid-column-start: 1;
    grid-column-end: 3;
}
.orderCount {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    column-gap: 1em;
    /* grid-column: 1/3; */
    box-shadow: var(--bright-color) 0 -1px 0 0;
    margin-bottom: 0.5em;
}

.selfButtom{
    align-self: end;
}


.workerFIO{
    grid-template-columns: max-content max-content auto max-content;
}

#surname, #patronym{
    width: 20em;
}

#skill{
    max-width: 40em;
}

.currentNav::before{
    content: "• ";
    font-weight: bold;

}
li.currentNav{
     font-weight: bold;   
}

.isDone{
    justify-self: center;
    text-align: center;
    max-width: 5em;
    margin: 0;
}
.done{
    color:green;
}

.notDone{
    color:maroon;
}

.cardLabel{
    color: var(--light-font);
    font-size: 12pt;
    
}

.cardData{
    font-size: 16pt;
}

.card button{
    width: 10em;
}

.card p{
    margin: 0.5em 0;
}

footer{
    grid-area: footer;
    background-color: var(--bright-color);

}



.noMargin{
    margin: 0;
}

.noPad{
    padding: 0;
}

.menuMobile{
    display: none;
    width: max-content;
    height: max-content;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--backpage-color);
        box-shadow: 0px 0 10px -5px #00000075;

}



@media ( width <= 900px) {
    html{
        width: 100%;
    }
    body{
    display: block;
    width: 100%;
    /* grid-template-columns: 0.5fr 2fr 0.2fr;
    grid-template-rows: max-content max-content max-content auto;
    column-gap: 10px;
    grid-template-areas:
        "header header header"
        "main_nav main_nav main_nav"
        "side_nav main ."
        "footer footer footer";
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0; */
}

.menuMobile{
    display: block;
    margin: 5px;
}


    header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    grid-template-areas:
    "logo . login"
    ". . newOrder";
    grid-area: header;
    background-color: var(--bright-color);
    color: var(--white-font);
    font-size: 12pt;
    padding: 0;
    padding: 5px;

    /* border-bottom: 1px black solid; */
}

.mainHeader{
    display: block;
}
.main_nav{
    display: grid;
    grid-auto-columns: 1fr 1fr;
    background-color: var(--bright-color);
    color: var(--white-font);
    border-top: 1px var(--highlight-color) solid;
    box-shadow: 0 5px 15px -5px #00000075;
        width: 100%;

}
.main_nav ul{
    padding: 0;
}
.side_nav{
    display: none;
    padding: 0;
}
.side_nav_main_ul{
    padding: 0;
}


main {
    box-shadow:none;
    padding: 5px;

}

.start2,.start3,.start4

{
    grid-column-start: unset;
}
.start3{}
.end4,
.end5,
.end6

{
    grid-column-end: unset;

}

main::before{
    content: "";
}

.mainBlock {
    display: grid;
    padding: 0;
    grid-template-columns: 1fr;
    align-items: center;
    border: var(--transparent-gray) 1px solid;
    border-radius: 5px;
    max-width: 100%;
        width: 100%;


}
.logData{
    padding-right: 5px;
    text-align:right
}
.logData form{
    grid-template-columns: 1fr;
    justify-items: end


}
.username{
    display: block;
}

.mainBlock:last-of-type a .block span:first-of-type,
.mainBlock:last-of-type .block span:first-of-type,
.mainBlock a .block span:last-of-type,
.mainBlock a .block span:nth-of-type(5),
.mainBlock .block span:nth-of-type(5)
{
display: none;

}


.mainBlock .start5{
    display: none;
}
.mainBlock a{
    display: block;
            width: 100%;

}

.block {
    display: grid
;
width: 100%;
    grid-template-columns: 30% 40% 30%;
    margin: 0;
    padding: 0;
}

}
